extends ../layout/main

block title
	| Creators

block content
	header.main-header.grid(style="background-image: url(img/0-header.jpg);")
		.header-content.grid
			h1 We Are Real Creators
			.header-buttons
				a.button(href="#") Follow
				a.button.button-gray(href="#") Go Home
