doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png")
		link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png")
		link(rel="stylesheet" type='text/css' href="css/main.min.css")

		//- Для задания цвета браузера(окно url) на mobile
		//- Chrome, Firefox OS and Opera 
		meta(name="theme-color" content="#1a1a1a")
		//- Windows Phone
		meta(name="msapplication-navbutton-color" content="#1a1a1a")
		//-  iOS Safari
		meta(name="apple-mobile-web-app-status-bar-style" content="#1a1a1a")
		title
			block title
		style(body{opacity: 0, overflow-x: hidden}, html{background-color: #1a1a1a})
	body.ishome
		block content

