mixin menu(id, ...items)
    nav(id=id)
        ul
            each val in ['Парикмахерский сервис','Косметологический салон','Маникюрный сервис','Массаж и SPA','Солярий','Наши специалисты','Новости','Прайс-лист','Наши сертификаты','О салоне']
                li: a(href="#")= val

+menu('my-menu')